## Filter Articles For Each Company

In [1]:
import libs
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display 

import yfinance as yf
import duckdb

import io
from urllib.request import urlopen
import zipfile
import os

from menuinst.platforms.win_utils.knownfolders import folder_path
from sipbuild.generator.parser.tokens import keywords
pd.set_option('display.max_rows', 5)

In [2]:
conn = duckdb.connect(database='../../eda-ddb/eda-gdelt.ddb', read_only=True, config= {'access_mode': 'READ_ONLY'} )

In [3]:
stocks_to_keywords_broad = {
    "ADM": ["agriculture", "commodities", "grain", "processing", "sustainability"],
    "JNJ": ["healthcare", "pharmaceuticals", "medical-devices", "consumer-health", "vaccines"],
    "NEM": ["mining", "gold", "precious-metals", "exploration", "sustainability"],
    "V": ["payments", "credit-cards", "digital-payments", "transactions", "financial-services"],
    "PG": ["consumer-goods", "hygiene", "household-products", "personal-care", "brands"],
    "ABBV": ["biopharmaceuticals", "immunology", "oncology", "healthcare"],
    "CVX": ["oil", "energy", "natural-gas", "petroleum", "sustainability"],
    "PEP": ["pepsi", "beverages", "snacks", "food-products"],
    "T": ["telecommunications", "wireless", "internet", "broadband", "5g", "internet-services"],
    "VZ": ["telecommunications", "wireless", "5g", "broadband", "internet", "internet-services" ],
    "AAPL": ["iphone", "ipad", "ios", "tim-cook", "icloud"],
    "CTVA": ["agriculture", "biotechnology", "seeds", "crop-protection", "sustainability"],
    "XOM": ["exxon-mobil", "oil", "energy", "petroleum", "natural-gas", "exploration"],
    "JPM": ["banking", "investment", "financial-services", "wealth-management", "loans"],
    "DE": ["agriculture", "machinery", "construction", "equipment", "sustainability"],
    "COP": ["oil", "energy", "exploration", "natural-gas", "sustainability"],
    "MA": ["payments", "credit-cards", "financial-services", "transactions", "digital-payments"],
    "KO": ["sprite", "fanta", "schweppes", "powerade", "beverages", "soft-drinks"],
    "MSFT": ["software", "cloud", "windows", "satya-nadella"],
    "DOW": ["dow", "chemicals", "materials", "plastics", "manufacturing", "sustainability"],
    "FCX": ["mining", "copper", "gold", "exploration", "sustainability"],
    "NVDA": ["gpu", "artificial-intelligence", "graphics", "semiconductors"],
    "BP": ["british-petroleum", "oil", "energy", "petroleum", "natural-gas", "renewable-energy"],
    "PFE": ["pharmaceuticals", "vaccines", "biopharmaceuticals", "healthcare"],
    "TMUS": ["telecommunications", "wireless", "5g", "broadband", "mobile"]
}

stocks_to_keywords_specific = {
    "ADM": ["agribusiness", "grain-processing", "sustainable-agriculture", "commodity-markets", "food-supply-chain"],
    "JNJ": ["healthcare-innovation", "pharmaceutical-research", "medical-devices", "consumer-health-products", "vaccine-development"],
    "NEM": ["gold-mining", "precious-metals-investment", "mining-operations", "sustainability-in-mining", "gold-exploration"],
    "V": ["digital-payments", "credit-card-services", "financial-technology", "payment-processing", "transaction-security"],
    "PG": ["consumer-goods", "hygiene-products", "personal-care-brands", "household-brands", "product-innovation"],
    "ABBV": ["biopharmaceuticals", "immunology-research", "oncology-treatments", "healthcare-solutions"],
    "CVX": ["oil-and-gas", "energy-sector", "petroleum-production", "sustainable-energy", "natural-gas-exploration"],
    "PEP": ["beverages-industry", "snack-foods", "consumer-products", "sustainability-in-food", "brand-marketing"],
    "T": ["telecommunications-services", "wireless-network", "broadband-internet", "entertainment-services"],
    "VZ": ["5g-technology", "telecommunications-network", "internet-services", "wireless-solutions"],
    "AAPL": ["iphone-development", "ios-software", "consumer-electronics", "tech-innovation"],
    "CTVA": ["agricultural-biotechnology", "crop-seeds", "sustainable-agriculture", "agricultural-innovation"],
    "XOM": ["oil-industry", "energy-resources", "petroleum-markets", "natural-gas-production"],
    "JPM": ["banking-industry", "investment-banking", "financial-services-innovation", "wealth-management-strategies"],
    "DE": ["deere", "agriculture-machinery", "construction-equipment", "sustainable-agriculture", "farm-technology"],
    "COP": ["oil-and-gas-exploration", "energy-production", "natural-gas-resources", "sustainability-in-energy"],
    "MA": ["digital-payments", "financial-services", "credit-card-industry", "payment-processing-technology"],
    "KO": ["coke", "cola","sprite", "fanta", "schweppes", "powerade", "beverages-market", "soft-drink-industry", "brand-marketing", "consumer-goods"],
    "MSFT": ["cloud-computing", "software-development", "windows-platform", "technology-leadership"],
    "DOW": ["dow", "chemical-manufacturing", "materials-science", "plastics-production", "sustainable-materials"],
    "FCX": ["copper-mining", "gold-mining", "mineral-resources", "sustainability-in-mining"],
    "NVDA": ["gpu-technology", "artificial-intelligence", "graphics-processing", "semiconductor-industry"],
    "BP": ["british-petroleum", "energy-sector", "petroleum-industry", "natural-gas-production", "renewable-energy-solutions"],
    "PFE": ["pharmaceuticals-research", "vaccine-innovation", "biopharmaceuticals", "healthcare-development"],
    "TMUS": ["telecommunications-industry", "5g-network", "mobile-services", "broadband-solutions"]
}

In [4]:

stocks_to_keywords_blacklist = {
    "ADM": ["stock", "stock"],
    "JNJ": ["boris", "stock", "wilson", "trump"],
    "NEM": ["stock"],
    "V": ["citizenship", "passport", "trump", "stock", "refug", "exten", "expat", "border", "tour", "documented", "migr"],
    "PG": ["stock"],
    "ABBV": ["stock"],
    "CVX": ["stock"],
    "PEP": ["stock"],
    "T": ["stock"],
    "VZ": ["stock"],
    "AAPL": ["stock"],
    "CTVA": ["stock"],
    "XOM": ["stock"],
    "JPM": ["stock"],
    "DE": ["stock"],
    "COP": ["stock"],
    "MA": ["stock"],
    "KO": ["stock"],
    "MSFT": ["stock"],
    "DOW": ["down", "shutdown", "stock"],
    "FCX": ["stock"],
    "NVDA": ["stock"],
    "BP": ["stock"],
    "PFE": ["stock"],
    "TMUS": ["stock"]
}

In [5]:
stocks_to_company_names = {
    "ADM" : ["archer-daniels" ,"archer-daniels-midland", ],
    "JNJ" : ["johnson-and-johnson", "johnson-johnson"],
    "NEM" : ["newmont-corporation"],
    "V" : ["visa"],
    "PG" : ["procter-and-gamble"],
    "ABBV" : ["abbvie"],
    "CVX" : ["chevron"],
    "PEP" : ["pepsico", "pepsi"],
    "T" : ["att", "at-t"],
    "VZ" : ["verizon"],
    "AAPL" : ["apple"],
    "CTVA" : ["corteva"],
    "XOM" : ["exxon-mobil", "exxon"],
    "JPM" : ["jpmorgan-chase"],
    "DE" : ["deere", "john-deere"],
    "COP" : ["conocophillips"],
    "MA" : ["mastercard"],
    "KO" : ["coca-cola", "coke", "cola", "sprite", "fanta", "schweppes", "powerade"],
    "MSFT" : ["microsoft", "azure"],
    "DOW" : ["dow-jones", "dow"],
    "FCX" : ["freeport-mcmoran"],
    "NVDA" : ["nvidia", "geforce"],
    "BP" : ["bp", "british-petroleum"],
    "PFE" : ["pfizer"],
    "TMUS" : ["t-mobile", "tmobile"],
}

In [6]:
sources = [
    # Major U.S. News
    'nytimes.com',               # The New York Times
    'washingtonpost.com',         # The Washington Post
    'bbc.com',                    # BBC News
    'reuters.com',                # Reuters
    'apnews.com',                 # Associated Press (AP)
    'npr.org',                    # National Public Radio (NPR)
    'politico.com',               # Politico
    'pbs.org',                    # PBS News
    'propublica.org',             # ProPublica
    'fivethirtyeight.com',        # FiveThirtyEight
    'cnn.com',                    # CNN
    'foxnews.com',                # Fox News
    'msnbc.com',                  # MSNBC
    'abcnews.go.com',             # ABC News
    'cbsnews.com',                # CBS News
    'usatoday.com',               # USA Today
    'latimes.com',                # Los Angeles Times
    'bloomberg.com',              # Bloomberg
    'wsj.com',                    # The Wall Street Journal
    'forbes.com',                 # Forbes
    'time.com',                   # TIME
    'newsweek.com',               # Newsweek
    'huffpost.com',               # HuffPost
    'vox.com',                    # Vox
    'axios.com',                  # Axios
    'buzzfeednews.com',           # BuzzFeed News

    # Major International News
    'theguardian.com',            # The Guardian (UK)
    'thetimes.co.uk',             # The Times (UK)
    'telegraph.co.uk',            # The Telegraph (UK)
    'independent.co.uk',          # The Independent (UK)
    'ft.com',                     # Financial Times (UK)
    'the-sun.com',                # The Sun (UK)
    'lemonde.fr',                 # Le Monde (France)
    'lefigaro.fr',                # Le Figaro (France)
    'dw.com',                     # Deutsche Welle (Germany)
    'spiegel.de',                 # Der Spiegel (Germany)
    'aljazeera.com',              # Al Jazeera (Qatar)
    'rt.com',                     # Russia Today (Russia)
    'haaretz.com',                # Haaretz (Israel)
    'timesofisrael.com',          # The Times of Israel (Israel)
    'straitstimes.com',           # The Straits Times (Singapore)
    'chinadaily.com.cn',          # China Daily (China)
    'japantimes.co.jp',           # The Japan Times (Japan)
    'abc.net.au',                 # ABC News (Australia)
    'smh.com.au',                 # The Sydney Morning Herald (Australia)
    'thestar.com',                # Toronto Star (Canada)
    'cbc.ca',                     # CBC News (Canada)
    'globalnews.ca',              # Global News (Canada)
    'elpais.com',                 # El País (Spain)
    'elmundo.es',                 # El Mundo (Spain)
    'clarin.com',                 # Clarín (Argentina)
    'folha.uol.com.br',           # Folha de S.Paulo (Brazil)
    'nation.co.ke',               # Daily Nation (Kenya)

    # Financial & Business
    'cnbc.com',                   # CNBC
    'marketwatch.com',            # MarketWatch
    'businessinsider.com',        # Business Insider
    'economist.com',              # The Economist
    'barrons.com',                # Barron’s
    'ft.com',                     # Financial Times

    # Tech & Science
    'wired.com',                  # WIRED
    'techcrunch.com',             # TechCrunch
    'mashable.com',               # Mashable
    'theverge.com',               # The Verge
    'arstechnica.com',            # Ars Technica
    'gizmodo.com',                # Gizmodo
    'cnet.com',                   # CNET
    'scientificamerican.com',     # Scientific American
    'nature.com',                 # Nature
    'newscientist.com',           # New Scientist

    # Specialized Journalism & Investigative Reporting
    'propublica.org',             # ProPublica
    'theintercept.com',           # The Intercept
    'democracynow.org',           # Democracy Now!
    'motherjones.com',            # Mother Jones
    'rollingstone.com',           # Rolling Stone
    'slate.com',                  # Slate
    'jacobinmag.com',             # Jacobin
    'newyorker.com',              # The New Yorker
    'vanityfair.com',             # Vanity Fair

    # Regional U.S. News
    'chicagotribune.com',         # Chicago Tribune
    'dallasnews.com',             # The Dallas Morning News
    'miamiherald.com',            # Miami Herald
    'boston.com',                 # Boston Globe
    'sfchronicle.com',            # San Francisco Chronicle
    'philly.com',                 # The Philadelphia Inquirer
    'startribune.com',            # Star Tribune (Minneapolis)
    'azcentral.com',              # The Arizona Republic

    # Latin America
    'eltiempo.com',               # El Tiempo (Colombia)
    'lanacion.com.ar',            # La Nación (Argentina)
    'elcomercio.pe',              # El Comercio (Peru)
    'eluniversal.com.mx',         # El Universal (Mexico)

    # Africa & Middle East
    'mg.co.za',                   # Mail & Guardian (South Africa)
    'punchng.com',                # The Punch (Nigeria)
    'gulfnews.com',               # Gulf News (UAE)
    'arabnews.com',               # Arab News (Saudi Arabia)
    'dailystar.com.lb',           # The Daily Star (Lebanon)
]

In [7]:
def generate_sql_query(search_terms, blacklist_terms,  news_sources, fast=True):
    
    if fast :
        search_conditions = " OR ".join([
            f"SOURCEURL LIKE '%{term}%'"
            for term in search_terms
        ])
    else:
        search_conditions = " OR ".join([
            f"SOURCEURL LIKE '%-{term}-%' OR "
            f"SOURCEURL LIKE '%-{term}' OR "
            f"SOURCEURL LIKE '%-{term}/%' OR "
            f"SOURCEURL LIKE '%/{term}-%' OR "
            f"SOURCEURL LIKE '%/{term}%'"
            for term in search_terms
        ])

    news_source_conditions = " OR ".join([f"SOURCEURL LIKE '%{source}%'\n" for source in news_sources])
    blacklist_conditions = " OR ".join([f"SOURCEURL LIKE '%{term}%'" for term in blacklist_terms])
    
    query = f"""
    SELECT Day, FractionDate, GoldsteinScale, AvgTone, NumArticles, NumMentions, SOURCEURL
    FROM gdelt
    WHERE ({search_conditions})
    AND ({news_source_conditions})
    """
    
    if blacklist_terms != list():
        query += f"AND NOT ({blacklist_conditions})"

    query += ";"
    return query

In [8]:
print(generate_sql_query(["terms"], ["blacklist"], ["news"], fast=False))

    SELECT Day, FractionDate, GoldsteinScale, AvgTone, NumArticles, NumMentions, SOURCEURL
    FROM gdelt
    WHERE (SOURCEURL LIKE '%-terms-%' OR SOURCEURL LIKE '%-terms' OR SOURCEURL LIKE '%-terms/%' OR SOURCEURL LIKE '%/terms-%' OR SOURCEURL LIKE '%/terms%')
    AND (SOURCEURL LIKE '%news%'
)
    AND NOT (SOURCEURL LIKE '%blacklist%');

In [9]:

def filter_gdelt(keywords, blacklist_words, folder_name):
    print(f"In Progress!: {folder_name}/{stock}_{(stocks_to_company_names[stock])[0]}.csv")
   
    q = generate_sql_query( keywords, blacklist_words, sources, fast=False)
    # print(q)
    
    df: pd.DataFrame = conn.query( q ).execute().fetchdf()
    df = df.drop_duplicates(subset=['SOURCEURL'])
    df['Date'] = pd.to_datetime(df['Day'], format='%Y%m%d')
    
    df.drop(columns=['Day', 'FractionDate'], inplace=True)
    display(df)
    df.to_csv(f"{folder_name}/{stock}_{(stocks_to_company_names[stock])[0]}.csv", index=False)

    print(f"Done!: {folder_name}/{stock}_{(stocks_to_company_names[stock])[0]}.csv", len(df))

In [11]:
folder = ["stocks_to_keywords_specific", "stocks_to_keywords_broad", "stocks_to_company_names"]

for i,(stock_to_words) in enumerate([ stocks_to_keywords_specific, stocks_to_keywords_broad, list() ]):
    for stock in stock_to_words.keys():
        filter_gdelt(stock_to_words[stock] + stocks_to_company_names[stock], stocks_to_keywords_blacklist[stock], "filter/" + folder[i])

In Progress!: filter/stocks_to_keywords_specific/ADM_archer-daniels.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,-0.002303,10.0,10.0,https://uk.reuters.com/article/uk-column-russe...,2019-01-08
1,0.0,-5.303863,21.0,21.0,https://uk.reuters.com/article/us-britain-eu-t...,2019-01-24
...,...,...,...,...,...,...
1013,-9.0,1.515152,5.0,5.0,https://www.forbes.com/councils/forbestechcoun...,2024-09-09
1016,7.0,2.802102,4.0,4.0,https://punchng.com/agribusiness-foundation-tr...,2024-09-13

Done!: filter/stocks_to_keywords_specific/ADM_archer-daniels.csv 228
In Progress!: filter/stocks_to_keywords_specific/JNJ_johnson-and-johnson.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,-4.055304,160.0,160.0,https://in.reuters.com/article/us-johnson-john...,2019-01-01
2,-4.0,-3.007519,8.0,8.0,https://www.thetimes.co.uk/edition/business/na...,2019-01-05
...,...,...,...,...,...,...
4024,7.0,5.362566,18.0,18.0,https://gulfnews.com/gn-focus/hortman-stem-cel...,2024-09-27
4025,0.0,0.377198,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-10-05

Done!: filter/stocks_to_keywords_specific/JNJ_johnson-and-johnson.csv 1100
In Progress!: filter/stocks_to_keywords_specific/NEM_newmont-corporation.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-7.0,2.472188,10.0,10.0,https://www.forbes.com/sites/greatspeculations...,2019-01-15
1,-9.0,-1.851852,1.0,1.0,https://www.cbc.ca/news/canada/nova-scotia/kir...,2019-01-16
...,...,...,...,...,...,...
655,1.0,-1.439791,10.0,10.0,https://punchng.com/no-state-can-ban-mining-op...,2024-10-04
661,4.0,-2.571861,4.0,4.0,https://punchng.com/fg-to-resolve-osun-gold-mi...,2024-10-09

Done!: filter/stocks_to_keywords_specific/NEM_newmont-corporation.csv 149
In Progress!: filter/stocks_to_keywords_specific/V_visa.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-4.0,-4.186047,10.0,10.0,https://punchng.com/thousands-to-miss-visa-app...,2019-01-01
6,6.0,-4.918033,10.0,10.0,https://www.wsj.com/articles/seasonal-work-vis...,2019-01-04
...,...,...,...,...,...,...
19340,2.8,-0.908829,9.0,9.0,https://www.abc.net.au/news/2024-10-13/indones...,2024-10-12
19344,3.4,11.612903,4.0,4.0,https://gulfnews.com/business/corporate-news/d...,2024-10-14

Done!: filter/stocks_to_keywords_specific/V_visa.csv 3155
In Progress!: filter/stocks_to_keywords_specific/PG_procter-and-gamble.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,7.0,-3.401361,2.0,2.0,https://www.azcentral.com/story/money/business...,2019-01-17
1,3.0,-3.703704,10.0,10.0,https://www.dw.com/en/germany-train-carrying-h...,2019-02-07
...,...,...,...,...,...,...
224,-8.0,-1.073171,10.0,10.0,https://www.forbes.com/sites/arthurkellermann/...,2024-08-07
225,1.9,0.115320,23.0,23.0,https://punchng.com/propak-summit-to-promote-p...,2024-08-23

Done!: filter/stocks_to_keywords_specific/PG_procter-and-gamble.csv 72
In Progress!: filter/stocks_to_keywords_specific/ABBV_abbvie.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,7.4,0.737259,40.0,40.0,https://www.marketwatch.com/press-release/conn...,2019-01-02
2,4.0,6.248012,20.0,20.0,https://www.marketwatch.com/press-release/grey...,2019-01-04
...,...,...,...,...,...,...
252,0.0,-4.403107,40.0,40.0,https://www.tickerreport.com/banking-finance/1...,2024-05-24
253,7.4,1.112485,20.0,20.0,https://www.tickerreport.com/banking-finance/1...,2024-06-22

Done!: filter/stocks_to_keywords_specific/ABBV_abbvie.csv 106
In Progress!: filter/stocks_to_keywords_specific/CVX_chevron.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-0.4,-0.516224,10.0,10.0,http://www.petroleum-economist.com/articles/po...,2019-01-02
6,3.0,-1.249256,10.0,10.0,https://www.forbes.com/sites/rrapier/2019/01/0...,2019-01-07
...,...,...,...,...,...,...
8197,-5.0,-5.069124,6.0,6.0,https://www.cbc.ca/news/canada/edmonton/albert...,2024-10-11
8198,-5.0,-0.534759,6.0,6.0,https://www.cbc.ca/news/canada/calgary/alberta...,2024-10-15

Done!: filter/stocks_to_keywords_specific/CVX_chevron.csv 2076
In Progress!: filter/stocks_to_keywords_specific/PEP_pepsico.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,3.0,2.004454,20.0,20.0,https://www.usatoday.com/story/money/2019/01/0...,2019-01-03
1,-2.0,0.722851,30.0,30.0,https://www.cnet.com/news/this-little-pepsico-...,2019-01-04
...,...,...,...,...,...,...
1377,-9.2,5.115090,10.0,10.0,https://www.vendingmarketwatch.com/management/...,2024-10-03
1378,2.8,0.771208,4.0,4.0,https://www.forbes.com/sites/chloesorvino/2024...,2024-10-11

Done!: filter/stocks_to_keywords_specific/PEP_pepsico.csv 448
In Progress!: filter/stocks_to_keywords_specific/T_att.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-2.0,-1.265823,10.0,10.0,https://www.thestar.com/news/canada/2018/12/31...,2019-01-01
1,-10.0,-12.153880,60.0,60.0,https://abcnews.go.com/International/wireStory...,2019-01-02
...,...,...,...,...,...,...
17991,-10.0,-5.641026,3.0,3.0,https://www.barrons.com/news/attack-damages-sh...,2024-10-10
17995,-10.0,-5.241379,2.0,2.0,https://www.theguardian.com/world/2024/oct/14/...,2024-10-14

Done!: filter/stocks_to_keywords_specific/T_att.csv 3314
In Progress!: filter/stocks_to_keywords_specific/VZ_verizon.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,4.0,5.465587,15.0,15.0,https://www.marketwatch.com/press-release/tegn...,2019-01-03
4,10.0,-0.239234,10.0,10.0,https://www.cnbc.com/2019/01/07/top-technician...,2019-01-07
...,...,...,...,...,...,...
2442,7.0,3.259259,6.0,6.0,https://www.forbes.com/sites/randybean/2024/10...,2024-10-14
2447,-2.0,-4.705882,10.0,10.0,https://www.theverge.com/2024/10/14/24270432/v...,2024-10-15

Done!: filter/stocks_to_keywords_specific/VZ_verizon.csv 826
In Progress!: filter/stocks_to_keywords_specific/AAPL_apple.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-4.0,-2.511748,120.0,120.0,https://www.businessinsider.com.au/netflix-sto...,2019-01-02
1,3.0,0.135719,10.0,10.0,https://www.marketwatch.com/press-release/lett...,2019-01-02
...,...,...,...,...,...,...
29879,7.0,-1.011378,4.0,4.0,https://www.newsweek.com/apples-iphone-hits-sa...,2024-10-15
29884,6.0,-1.290323,10.0,10.0,https://time.com/7093536/surgeons-apple-vision...,2024-10-15

Done!: filter/stocks_to_keywords_specific/AAPL_apple.csv 9461
In Progress!: filter/stocks_to_keywords_specific/CTVA_corteva.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-2.0,1.693405,4.0,4.0,https://www.marketwatch.com/press-release/cort...,2019-02-21
1,1.9,1.639344,8.0,8.0,https://www.marketwatch.com/press-release/japa...,2019-02-28
...,...,...,...,...,...,...
170,0.0,1.903553,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-09-30
172,0.0,2.411168,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-10-10

Done!: filter/stocks_to_keywords_specific/CTVA_corteva.csv 50
In Progress!: filter/stocks_to_keywords_specific/XOM_exxon-mobil.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-4.0,-1.404557,65.0,65.0,https://uk.reuters.com/article/uk-usa-court-ex...,2019-01-07
2,0.4,-0.437318,5.0,5.0,https://www.cnbc.com/2018/12/19/reuters-americ...,2019-01-07
...,...,...,...,...,...,...
6422,-10.0,-0.497512,10.0,10.0,https://gulfnews.com/world/americas/us-expands...,2024-10-11
6423,-2.0,-6.315501,9.0,9.0,https://gulfnews.com/world/mena/iran-condemns-...,2024-10-13

Done!: filter/stocks_to_keywords_specific/XOM_exxon-mobil.csv 1536
In Progress!: filter/stocks_to_keywords_specific/JPM_jpmorgan-chase.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,7.4,0.630472,10.0,10.0,https://www.marketwatch.com/press-release/new-...,2019-01-15
6,2.8,0.309598,2.0,2.0,https://www.reuters.com/article/bofaml-moves-d...,2019-01-17
...,...,...,...,...,...,...
1104,0.0,2.837684,5.0,5.0,https://www.tickerreport.com/banking-finance/1...,2024-10-05
1105,0.0,2.210884,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-10-12

Done!: filter/stocks_to_keywords_specific/JPM_jpmorgan-chase.csv 387
In Progress!: filter/stocks_to_keywords_specific/DE_deere.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,3.4,0.972132,2.0,2.0,https://www.nytimes.com/2019/01/13/technology/...,2019-01-13
22,5.2,-2.932099,4.0,4.0,https://www.washingtonpost.com/business/kubota...,2019-01-22
...,...,...,...,...,...,...
853,0.0,-2.121613,2.0,2.0,https://www.techdirt.com/2024/10/11/john-deere...,2024-10-11
854,0.0,-1.978417,1.0,1.0,https://www.techdirt.com/tag/john-deere-tractors/,2024-10-11

Done!: filter/stocks_to_keywords_specific/DE_deere.csv 243
In Progress!: filter/stocks_to_keywords_specific/COP_conocophillips.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,6.0,2.360515,10.0,10.0,https://www.marketwatch.com/press-release/glob...,2019-01-18
2,1.9,1.522881,4.0,4.0,https://www.reuters.com/article/us-egypt-energ...,2019-02-12
...,...,...,...,...,...,...
663,0.0,2.196532,4.0,4.0,https://www.tickerreport.com/banking-finance/1...,2024-10-03
665,0.0,1.648352,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-10-05

Done!: filter/stocks_to_keywords_specific/COP_conocophillips.csv 188
In Progress!: filter/stocks_to_keywords_specific/MA_mastercard.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,3.4,0.861543,18.0,18.0,https://www.telegraph.co.uk/technology/2019/01...,2019-01-02
2,-9.5,-1.786512,3.0,3.0,https://www.vox.com/policy-and-politics/2019/1...,2019-01-03
...,...,...,...,...,...,...
3568,0.0,3.456985,20.0,20.0,https://www.tickerreport.com/banking-finance/1...,2024-10-05
3571,7.4,1.518027,5.0,5.0,https://www.tickerreport.com/banking-finance/1...,2024-10-09

Done!: filter/stocks_to_keywords_specific/MA_mastercard.csv 1356
In Progress!: filter/stocks_to_keywords_specific/KO_coca-cola.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,5.0,-0.245098,40.0,40.0,https://uk.reuters.com/article/uk-whitbread-m-...,2019-01-03
1,1.9,1.164144,10.0,10.0,https://www.forbes.com/sites/michaelgoldstein/...,2019-01-06
...,...,...,...,...,...,...
2636,7.4,2.039723,70.0,70.0,https://www.tickerreport.com/banking-finance/1...,2024-10-10
2638,0.0,2.245089,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-10-10

Done!: filter/stocks_to_keywords_specific/KO_coca-cola.csv 742
In Progress!: filter/stocks_to_keywords_specific/MSFT_microsoft.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,7.0,0.217391,10.0,10.0,https://www.forbes.com/sites/amitchowdhry/2018...,2018-12-25
1,7.0,1.489682,30.0,30.0,https://www.theverge.com/2019/1/2/18164916/mic...,2019-01-02
...,...,...,...,...,...,...
19619,-2.0,-5.902192,1.0,1.0,https://www.newsweek.com/russia-china-using-cy...,2024-10-15
19623,-2.0,-1.564723,2.0,2.0,https://mashable.com/article/microsoft-ai-chat...,2024-10-15

Done!: filter/stocks_to_keywords_specific/MSFT_microsoft.csv 5999
In Progress!: filter/stocks_to_keywords_specific/DOW_dow-jones.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,10.0,-0.239234,10.0,10.0,https://www.cnbc.com/2019/01/07/top-technician...,2019-01-07
4,-5.0,-2.081165,6.0,6.0,https://www.nytimes.com/2019/01/12/opinion/sun...,2019-01-12
...,...,...,...,...,...,...
1170,7.4,-0.383142,2.0,2.0,https://www.cnbc.com/2024/05/20/cnbc-daily-ope...,2024-05-20
1172,3.4,9.714286,10.0,10.0,https://punchng.com/dowen-college-soars-with-e...,2024-08-30

Done!: filter/stocks_to_keywords_specific/DOW_dow-jones.csv 276
In Progress!: filter/stocks_to_keywords_specific/FCX_freeport-mcmoran.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-7.0,2.472188,10.0,10.0,https://www.forbes.com/sites/greatspeculations...,2019-01-15
1,-9.0,-1.851852,1.0,1.0,https://www.cbc.ca/news/canada/nova-scotia/kir...,2019-01-16
...,...,...,...,...,...,...
829,7.0,3.272727,10.0,10.0,https://www.cbc.ca/news/canada/nova-scotia/atl...,2024-10-04
831,4.0,-2.571861,4.0,4.0,https://punchng.com/fg-to-resolve-osun-gold-mi...,2024-10-09

Done!: filter/stocks_to_keywords_specific/FCX_freeport-mcmoran.csv 218
In Progress!: filter/stocks_to_keywords_specific/NVDA_nvidia.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,7.4,1.552288,2.0,2.0,https://www.forbes.com/sites/courtstroud/2018/...,2019-01-01
6,-0.1,-2.942406,16.0,16.0,https://www.nytimes.com/2019/01/01/technology/...,2019-01-01
...,...,...,...,...,...,...
10814,1.0,-0.679348,10.0,10.0,https://www.straitstimes.com/business/companie...,2024-10-15
10817,0.0,1.699626,45.0,46.0,https://www.cnbc.com/2024/10/15/tuesdays-bigge...,2024-10-15

Done!: filter/stocks_to_keywords_specific/NVDA_nvidia.csv 3162
In Progress!: filter/stocks_to_keywords_specific/BP_bp.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,1.383399,10.0,10.0,https://www.tickerreport.com/banking-finance/4...,2019-01-05
1,3.0,-1.249256,10.0,10.0,https://www.forbes.com/sites/rrapier/2019/01/0...,2019-01-07
...,...,...,...,...,...,...
4327,-2.0,1.323282,16.0,16.0,https://www.telegraph.co.uk/business/2024/10/0...,2024-10-07
4328,6.0,-2.978723,8.0,8.0,https://www.telegraph.co.uk/business/2024/10/0...,2024-10-02

Done!: filter/stocks_to_keywords_specific/BP_bp.csv 1086
In Progress!: filter/stocks_to_keywords_specific/PFE_pfizer.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,7.4,0.737259,40.0,40.0,https://www.marketwatch.com/press-release/conn...,2019-01-02
2,-2.0,2.095423,50.0,50.0,https://in.reuters.com/article/us-usa-healthca...,2019-02-06
...,...,...,...,...,...,...
17748,0.0,2.213301,20.0,20.0,https://www.tickerreport.com/banking-finance/1...,2024-10-10
17749,-0.1,-0.816309,30.0,30.0,https://www.cnbc.com/2024/10/10/former-pfizer-...,2024-10-10

Done!: filter/stocks_to_keywords_specific/PFE_pfizer.csv 4042
In Progress!: filter/stocks_to_keywords_specific/TMUS_t-mobile.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-5.0,-8.895706,5.0,5.0,https://www.washingtonpost.com/local/thieves-c...,2019-01-05
5,0.0,0.717949,10.0,10.0,https://www.washingtonpost.com/technology/2019...,2018-01-08
...,...,...,...,...,...,...
3172,-5.0,-1.405152,10.0,10.0,https://mashable.com/article/hurricane-milton-...,2024-10-09
3174,0.0,0.000000,8.0,8.0,https://www.techdirt.com/2024/10/10/u-s-cellul...,2024-10-10

Done!: filter/stocks_to_keywords_specific/TMUS_t-mobile.csv 950
In Progress!: filter/stocks_to_keywords_broad/ADM_archer-daniels.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,-7.224568,13.0,13.0,https://www.thestar.com.my/business/business-n...,2019-01-01
1,0.4,1.025609,20.0,20.0,https://af.reuters.com/article/commoditiesNews...,2019-01-02
...,...,...,...,...,...,...
51541,2.8,3.719008,3.0,3.0,https://punchng.com/sokoto-gov-seeks-investors...,2024-10-15
51551,-0.4,0.786370,4.0,4.0,https://www.abc.net.au/news/2024-10-16/agricul...,2024-10-15

Done!: filter/stocks_to_keywords_broad/ADM_archer-daniels.csv 10756
In Progress!: filter/stocks_to_keywords_broad/JNJ_johnson-and-johnson.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,-4.055304,160.0,160.0,https://in.reuters.com/article/us-johnson-john...,2019-01-01
2,0.0,-4.343434,2.0,2.0,https://www.theguardian.com/society/2019/jan/0...,2019-01-01
...,...,...,...,...,...,...
67154,3.0,0.758725,1.0,1.0,https://www.newsweek.com/mask-mandate-map-cali...,2024-10-15
67165,3.0,-1.190476,10.0,10.0,https://www.newsweek.com/alzheimers-simple-dru...,2024-10-15

Done!: filter/stocks_to_keywords_broad/JNJ_johnson-and-johnson.csv 15580
In Progress!: filter/stocks_to_keywords_broad/NEM_newmont-corporation.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,4.0,0.008616,298.0,298.0,http://time.com/5491357/nasa-spacecraft-explor...,2019-01-01
2,1.9,3.278689,5.0,5.0,https://www.reuters.com/article/us-erik-prince...,2019-01-01
...,...,...,...,...,...,...
59588,6.0,-0.594059,6.0,6.0,https://www.chicagotribune.com/2024/10/15/bill...,2023-10-16
59590,-2.0,2.240664,6.0,6.0,https://www.abc.net.au/news/2024-10-16/alcoa-m...,2024-10-15

Done!: filter/stocks_to_keywords_broad/NEM_newmont-corporation.csv 13975
In Progress!: filter/stocks_to_keywords_broad/V_visa.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-4.0,-4.186047,10.0,10.0,https://punchng.com/thousands-to-miss-visa-app...,2019-01-01
6,8.0,-2.920723,10.0,10.0,https://www.breitbart.com/national-security/20...,2019-01-01
...,...,...,...,...,...,...
34085,3.4,1.089325,8.0,8.0,https://www.businessinsider.com/russia-economy...,2024-09-15
34092,7.0,2.678571,5.0,5.0,https://www.cnet.com/personal-finance/credit-c...,2024-10-15

Done!: filter/stocks_to_keywords_broad/V_visa.csv 7319
In Progress!: filter/stocks_to_keywords_broad/PG_procter-and-gamble.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-2.0,3.420155,17.0,17.0,https://www.marketwatch.com/press-release/ces-...,2019-01-03
1,1.0,2.777778,3.0,3.0,https://www.forbes.com/sites/irisdorbian/2019/...,2019-01-03
...,...,...,...,...,...,...
11355,1.0,1.359773,5.0,5.0,https://www.forbes.com/sites/stevenaquino/2024...,2024-10-14
11357,-2.0,1.307190,6.0,6.0,https://www.cnbc.com/2024/10/15/why-big-brands...,2024-10-15

Done!: filter/stocks_to_keywords_broad/PG_procter-and-gamble.csv 3131
In Progress!: filter/stocks_to_keywords_broad/ABBV_abbvie.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,-4.343434,2.0,2.0,https://www.theguardian.com/society/2019/jan/0...,2019-01-01
4,4.0,4.137931,2.0,2.0,https://www.reuters.com/article/jp-morgan-asia...,2019-01-02
...,...,...,...,...,...,...
25179,3.0,0.758725,1.0,1.0,https://www.newsweek.com/mask-mandate-map-cali...,2024-10-15
25190,3.0,-1.190476,10.0,10.0,https://www.newsweek.com/alzheimers-simple-dru...,2024-10-15

Done!: filter/stocks_to_keywords_broad/ABBV_abbvie.csv 6557
In Progress!: filter/stocks_to_keywords_broad/CVX_chevron.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,4.0,-6.075949,2.0,2.0,https://punchng.com/oil-price-ends-2018-at-53-...,2019-01-01
2,7.0,-0.260756,2.0,2.0,https://www.theguardian.com/commentisfree/2018...,2019-01-01
...,...,...,...,...,...,...
246147,0.0,-3.344482,7.0,7.0,https://www.forbes.com/sites/rrapier/2024/10/1...,2024-10-15
246151,-5.0,-0.534759,6.0,6.0,https://www.cbc.ca/news/canada/calgary/alberta...,2024-10-15

Done!: filter/stocks_to_keywords_broad/CVX_chevron.csv 53020
In Progress!: filter/stocks_to_keywords_broad/PEP_pepsico.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,3.0,2.004454,20.0,20.0,https://www.usatoday.com/story/money/2019/01/0...,2019-01-03
1,7.4,0.000000,3.0,3.0,https://www.washingtonpost.com/technology/2019...,2019-01-03
...,...,...,...,...,...,...
2057,-9.2,5.115090,10.0,10.0,https://www.vendingmarketwatch.com/management/...,2024-10-03
2058,2.8,0.771208,4.0,4.0,https://www.forbes.com/sites/chloesorvino/2024...,2024-10-11

Done!: filter/stocks_to_keywords_broad/PEP_pepsico.csv 656
In Progress!: filter/stocks_to_keywords_broad/T_att.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,-2.960103,5.0,5.0,https://www.washingtonpost.com/opinions/what-c...,2019-01-01
4,-2.0,-1.265823,10.0,10.0,https://www.thestar.com/news/canada/2018/12/31...,2019-01-01
...,...,...,...,...,...,...
60090,-2.0,-2.476780,3.0,3.0,https://www.theguardian.com/world/2024/oct/15/...,2024-10-15
60104,0.0,-2.364833,8.0,8.0,https://www.newsweek.com/family-explores-deser...,2024-10-15

Done!: filter/stocks_to_keywords_broad/T_att.csv 14071
In Progress!: filter/stocks_to_keywords_broad/VZ_verizon.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,-2.960103,5.0,5.0,https://www.washingtonpost.com/opinions/what-c...,2019-01-01
4,-2.0,-1.265823,10.0,10.0,https://www.thestar.com/news/canada/2018/12/31...,2019-01-01
...,...,...,...,...,...,...
44359,-2.0,-2.476780,3.0,3.0,https://www.theguardian.com/world/2024/oct/15/...,2024-10-15
44373,0.0,-2.364833,8.0,8.0,https://www.newsweek.com/family-explores-deser...,2024-10-15

Done!: filter/stocks_to_keywords_broad/VZ_verizon.csv 11504
In Progress!: filter/stocks_to_keywords_broad/AAPL_apple.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-4.0,-2.511748,120.0,120.0,https://www.businessinsider.com.au/netflix-sto...,2019-01-02
1,3.0,0.135719,10.0,10.0,https://www.marketwatch.com/press-release/lett...,2019-01-02
...,...,...,...,...,...,...
34330,7.0,-1.011378,4.0,4.0,https://www.newsweek.com/apples-iphone-hits-sa...,2024-10-15
34335,6.0,-1.290323,10.0,10.0,https://time.com/7093536/surgeons-apple-vision...,2024-10-15

Done!: filter/stocks_to_keywords_broad/AAPL_apple.csv 11019
In Progress!: filter/stocks_to_keywords_broad/CTVA_corteva.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,7.0,-0.586344,50.0,50.0,https://www.reuters.com/article/us-brazil-poli...,2019-01-02
1,2.8,0.195791,15.0,15.0,https://www.reuters.com/article/us-brazil-poli...,2019-01-02
...,...,...,...,...,...,...
19038,-2.0,-1.739130,4.0,4.0,https://www.abc.net.au/news/rural/2024-10-15/n...,2024-10-15
19041,-0.4,0.786370,4.0,4.0,https://www.abc.net.au/news/2024-10-16/agricul...,2024-10-15

Done!: filter/stocks_to_keywords_broad/CTVA_corteva.csv 4271
In Progress!: filter/stocks_to_keywords_broad/XOM_exxon-mobil.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,4.0,-6.075949,2.0,2.0,https://punchng.com/oil-price-ends-2018-at-53-...,2019-01-01
2,7.0,-0.260756,2.0,2.0,https://www.theguardian.com/commentisfree/2018...,2019-01-01
...,...,...,...,...,...,...
246315,0.0,-3.344482,7.0,7.0,https://www.forbes.com/sites/rrapier/2024/10/1...,2024-10-15
246319,-5.0,-0.534759,6.0,6.0,https://www.cbc.ca/news/canada/calgary/alberta...,2024-10-15

Done!: filter/stocks_to_keywords_broad/XOM_exxon-mobil.csv 52665
In Progress!: filter/stocks_to_keywords_broad/JPM_jpmorgan-chase.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,0.796813,10.0,10.0,https://www.tickerreport.com/banking-finance/4...,2019-01-01
1,0.0,1.365755,29.0,29.0,https://www.tickerreport.com/banking-finance/4...,2019-01-01
...,...,...,...,...,...,...
77978,1.0,0.000000,4.0,4.0,https://www.barrons.com/news/saudi-crown-princ...,2024-10-15
77984,5.2,-3.209877,10.0,10.0,https://www.cbsnews.com/news/small-business-ad...,2024-10-15

Done!: filter/stocks_to_keywords_broad/JPM_jpmorgan-chase.csv 28335
In Progress!: filter/stocks_to_keywords_broad/DE_deere.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,4.0,0.925926,10.0,10.0,http://www.chicagotribune.com/suburbs/lake-cou...,2019-01-01
1,1.9,0.210379,2.0,2.0,https://www.nytimes.com/2019/01/01/business/ti...,2019-01-01
...,...,...,...,...,...,...
40486,4.0,-4.746835,3.0,3.0,https://www.thestar.com.my/news/nation/2024/10...,2024-10-15
40490,-0.4,0.786370,4.0,4.0,https://www.abc.net.au/news/2024-10-16/agricul...,2024-10-15

Done!: filter/stocks_to_keywords_broad/DE_deere.csv 9724
In Progress!: filter/stocks_to_keywords_broad/COP_conocophillips.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,4.0,-6.075949,2.0,2.0,https://punchng.com/oil-price-ends-2018-at-53-...,2019-01-01
2,7.0,-0.260756,2.0,2.0,https://www.theguardian.com/commentisfree/2018...,2019-01-01
...,...,...,...,...,...,...
246885,0.0,-3.344482,7.0,7.0,https://www.forbes.com/sites/rrapier/2024/10/1...,2024-10-15
246889,-5.0,-0.534759,6.0,6.0,https://www.cbc.ca/news/canada/calgary/alberta...,2024-10-15

Done!: filter/stocks_to_keywords_broad/COP_conocophillips.csv 53003
In Progress!: filter/stocks_to_keywords_broad/MA_mastercard.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,8.0,-2.920723,10.0,10.0,https://www.breitbart.com/national-security/20...,2019-01-01
4,3.4,0.861543,18.0,18.0,https://www.telegraph.co.uk/technology/2019/01...,2019-01-02
...,...,...,...,...,...,...
18054,3.4,1.089325,8.0,8.0,https://www.businessinsider.com/russia-economy...,2024-09-15
18061,7.0,2.678571,5.0,5.0,https://www.cnet.com/personal-finance/credit-c...,2024-10-15

Done!: filter/stocks_to_keywords_broad/MA_mastercard.csv 5124
In Progress!: filter/stocks_to_keywords_broad/KO_coca-cola.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,5.0,-0.245098,40.0,40.0,https://uk.reuters.com/article/uk-whitbread-m-...,2019-01-03
1,1.9,1.164144,10.0,10.0,https://www.forbes.com/sites/michaelgoldstein/...,2019-01-06
...,...,...,...,...,...,...
2974,7.4,2.039723,70.0,70.0,https://www.tickerreport.com/banking-finance/1...,2024-10-10
2976,0.0,2.245089,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-10-10

Done!: filter/stocks_to_keywords_broad/KO_coca-cola.csv 845
In Progress!: filter/stocks_to_keywords_broad/MSFT_microsoft.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,7.0,0.217391,10.0,10.0,https://www.forbes.com/sites/amitchowdhry/2018...,2018-12-25
1,4.0,0.000000,10.0,10.0,https://www.npr.org/2019/01/01/681384610/franc...,2019-01-01
...,...,...,...,...,...,...
38859,-2.0,-5.902192,1.0,1.0,https://www.newsweek.com/russia-china-using-cy...,2024-10-15
38863,-2.0,-1.564723,2.0,2.0,https://mashable.com/article/microsoft-ai-chat...,2024-10-15

Done!: filter/stocks_to_keywords_broad/MSFT_microsoft.csv 12176
In Progress!: filter/stocks_to_keywords_broad/DOW_dow-jones.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,10.0,1.310044,10.0,10.0,https://www.forbes.com/sites/michaelmandel1/20...,2019-01-02
3,4.0,-2.173913,10.0,10.0,https://www.cnbc.com/2019/01/02/december-manuf...,2019-01-02
...,...,...,...,...,...,...
23040,2.8,-3.274030,4.0,4.0,https://punchng.com/benue-establishes-camps-fo...,2024-10-14
23054,-10.0,-6.789993,12.0,12.0,https://www.cbsnews.com/news/impact-plastics-g...,2024-10-15

Done!: filter/stocks_to_keywords_broad/DOW_dow-jones.csv 6443
In Progress!: filter/stocks_to_keywords_broad/FCX_freeport-mcmoran.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,4.0,0.008616,298.0,298.0,http://time.com/5491357/nasa-spacecraft-explor...,2019-01-01
2,1.9,3.278689,5.0,5.0,https://www.reuters.com/article/us-erik-prince...,2019-01-01
...,...,...,...,...,...,...
63560,6.0,-0.594059,6.0,6.0,https://www.chicagotribune.com/2024/10/15/bill...,2023-10-16
63562,-2.0,2.240664,6.0,6.0,https://www.abc.net.au/news/2024-10-16/alcoa-m...,2024-10-15

Done!: filter/stocks_to_keywords_broad/FCX_freeport-mcmoran.csv 15101
In Progress!: filter/stocks_to_keywords_broad/NVDA_nvidia.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,7.4,1.552288,2.0,2.0,https://www.forbes.com/sites/courtstroud/2018/...,2019-01-01
6,-0.1,-2.942406,16.0,16.0,https://www.nytimes.com/2019/01/01/technology/...,2019-01-01
...,...,...,...,...,...,...
18999,1.0,-0.679348,10.0,10.0,https://www.straitstimes.com/business/companie...,2024-10-15
19002,0.0,1.699626,45.0,46.0,https://www.cnbc.com/2024/10/15/tuesdays-bigge...,2024-10-15

Done!: filter/stocks_to_keywords_broad/NVDA_nvidia.csv 4119
In Progress!: filter/stocks_to_keywords_broad/BP_bp.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,4.0,-6.075949,2.0,2.0,https://punchng.com/oil-price-ends-2018-at-53-...,2019-01-01
2,7.0,-0.260756,2.0,2.0,https://www.theguardian.com/commentisfree/2018...,2019-01-01
...,...,...,...,...,...,...
241557,0.0,-3.344482,7.0,7.0,https://www.forbes.com/sites/rrapier/2024/10/1...,2024-10-15
241561,-5.0,-0.534759,6.0,6.0,https://www.cbc.ca/news/canada/calgary/alberta...,2024-10-15

Done!: filter/stocks_to_keywords_broad/BP_bp.csv 51571
In Progress!: filter/stocks_to_keywords_broad/PFE_pfizer.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,-4.343434,2.0,2.0,https://www.theguardian.com/society/2019/jan/0...,2019-01-01
4,4.0,4.137931,2.0,2.0,https://www.reuters.com/article/jp-morgan-asia...,2019-01-02
...,...,...,...,...,...,...
80781,3.0,0.758725,1.0,1.0,https://www.newsweek.com/mask-mandate-map-cali...,2024-10-15
80792,3.0,-1.190476,10.0,10.0,https://www.newsweek.com/alzheimers-simple-dru...,2024-10-15

Done!: filter/stocks_to_keywords_broad/PFE_pfizer.csv 18448
In Progress!: filter/stocks_to_keywords_broad/TMUS_t-mobile.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-2.0,-1.265823,10.0,10.0,https://www.thestar.com/news/canada/2018/12/31...,2019-01-01
1,-9.0,-4.130435,2.0,2.0,https://mobile.abc.net.au/news/2019-01-01/rodr...,2019-01-01
...,...,...,...,...,...,...
41405,0.0,0.574665,29.0,39.0,https://www.cnet.com/tech/mobile/google-shoppi...,2024-10-15
41408,3.4,0.806452,5.0,5.0,https://www.cnet.com/tech/mobile/googles-new-p...,2024-10-15

Done!: filter/stocks_to_keywords_broad/TMUS_t-mobile.csv 11073

AttributeError: 'list' object has no attribute 'keys'

In [13]:
folder = [ "stocks_to_company_names"]

for i, (stock_to_words) in enumerate([stocks_to_company_names]):
    for stock in stock_to_words.keys():
        filter_gdelt( stocks_to_company_names[stock], stocks_to_keywords_blacklist[stock], "filter/" + folder[i])

In Progress!: filter/stocks_to_company_names/ADM_archer-daniels.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,6.4,-4.011598,12.0,12.0,https://www.reuters.com/article/us-archer-dani...,2019-02-05
1,0.0,-3.045685,6.0,6.0,https://www.marketwatch.com/story/archer-danie...,2019-03-25
...,...,...,...,...,...,...
116,0.0,1.404853,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-08-27
117,7.4,1.897810,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-08-29

Done!: filter/stocks_to_company_names/ADM_archer-daniels.csv 75
In Progress!: filter/stocks_to_company_names/JNJ_johnson-and-johnson.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,-4.055304,160.0,160.0,https://in.reuters.com/article/us-johnson-john...,2019-01-01
2,-2.0,-5.706317,66.0,66.0,https://www.reuters.com/article/us-johnson-joh...,2019-01-08
...,...,...,...,...,...,...
3349,0.0,0.888889,5.0,5.0,https://www.tickerreport.com/banking-finance/1...,2024-09-25
3350,0.0,0.377198,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-10-05

Done!: filter/stocks_to_company_names/JNJ_johnson-and-johnson.csv 911
In Progress!: filter/stocks_to_company_names/NEM_newmont-corporation.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,4.0,0.677416,6.0,6.0,https://www.marketwatch.com/press-release/agni...,2020-09-30
3,3.0,-1.085271,10.0,10.0,https://www.cbc.ca/news/canada/north/yukon-new...,2022-04-27

Done!: filter/stocks_to_company_names/NEM_newmont-corporation.csv 2
In Progress!: filter/stocks_to_company_names/V_visa.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-4.0,-4.186047,10.0,10.0,https://punchng.com/thousands-to-miss-visa-app...,2019-01-01
6,6.0,-4.918033,10.0,10.0,https://www.wsj.com/articles/seasonal-work-vis...,2019-01-04
...,...,...,...,...,...,...
19083,2.8,-0.908829,9.0,9.0,https://www.abc.net.au/news/2024-10-13/indones...,2024-10-12
19087,3.4,11.612903,4.0,4.0,https://gulfnews.com/business/corporate-news/d...,2024-10-14

Done!: filter/stocks_to_company_names/V_visa.csv 3058
In Progress!: filter/stocks_to_company_names/PG_procter-and-gamble.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,0.819672,10.0,10.0,https://www.cnbc.com/2019/07/30/procter-and-ga...,2019-07-30
1,-2.0,-0.805987,7.0,7.0,https://www.usatoday.com/story/money/2019/09/1...,2019-09-12
7,0.0,0.551724,10.0,10.0,https://www.marketwatch.com/press-release/glob...,2019-09-20
9,-2.0,1.271433,20.0,20.0,https://www.marketwatch.com/press-release/hand...,2020-02-07

Done!: filter/stocks_to_company_names/PG_procter-and-gamble.csv 4
In Progress!: filter/stocks_to_company_names/ABBV_abbvie.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-2.0,-5.021368,20.0,20.0,https://www.reuters.com/article/abbvie-stemcen...,2019-01-04
1,-2.0,-4.103645,40.0,40.0,https://www.reuters.com/article/us-abbvie-stem...,2019-01-05
...,...,...,...,...,...,...
220,0.0,-4.403107,40.0,40.0,https://www.tickerreport.com/banking-finance/1...,2024-05-24
221,7.4,1.112485,20.0,20.0,https://www.tickerreport.com/banking-finance/1...,2024-06-22

Done!: filter/stocks_to_company_names/ABBV_abbvie.csv 90
In Progress!: filter/stocks_to_company_names/CVX_chevron.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,0.846271,30.0,30.0,https://www.tickerreport.com/banking-finance/4...,2019-01-14
2,0.4,-0.577367,10.0,10.0,https://www.forbes.com/sites/gauravsharma/2019...,2019-01-16
...,...,...,...,...,...,...
3533,7.0,-3.314917,10.0,10.0,https://www.theguardian.com/environment/2024/s...,2024-09-30
3534,0.4,-0.510204,2.0,2.0,https://www.cnbc.com/2024/09/30/ftc-clears-che...,2024-09-30

Done!: filter/stocks_to_company_names/CVX_chevron.csv 897
In Progress!: filter/stocks_to_company_names/PEP_pepsico.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,3.0,2.004454,20.0,20.0,https://www.usatoday.com/story/money/2019/01/0...,2019-01-03
1,-2.0,0.722851,30.0,30.0,https://www.cnet.com/news/this-little-pepsico-...,2019-01-04
...,...,...,...,...,...,...
807,-9.2,5.115090,10.0,10.0,https://www.vendingmarketwatch.com/management/...,2024-10-03
808,2.8,0.771208,4.0,4.0,https://www.forbes.com/sites/chloesorvino/2024...,2024-10-11

Done!: filter/stocks_to_company_names/PEP_pepsico.csv 256
In Progress!: filter/stocks_to_company_names/T_att.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-10.0,-12.153880,60.0,60.0,https://abcnews.go.com/International/wireStory...,2019-01-02
8,3.4,-4.295403,2.0,2.0,https://www.forbes.com/sites/andyjsemotiuk/201...,2019-01-02
...,...,...,...,...,...,...
17630,-10.0,-5.641026,3.0,3.0,https://www.barrons.com/news/attack-damages-sh...,2024-10-10
17634,-10.0,-5.241379,2.0,2.0,https://www.theguardian.com/world/2024/oct/14/...,2024-10-14

Done!: filter/stocks_to_company_names/T_att.csv 3215
In Progress!: filter/stocks_to_company_names/VZ_verizon.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,4.0,5.465587,15.0,15.0,https://www.marketwatch.com/press-release/tegn...,2019-01-03
4,10.0,-0.239234,10.0,10.0,https://www.cnbc.com/2019/01/07/top-technician...,2019-01-07
...,...,...,...,...,...,...
2056,7.0,3.259259,6.0,6.0,https://www.forbes.com/sites/randybean/2024/10...,2024-10-14
2061,-2.0,-4.705882,10.0,10.0,https://www.theverge.com/2024/10/14/24270432/v...,2024-10-15

Done!: filter/stocks_to_company_names/VZ_verizon.csv 728
In Progress!: filter/stocks_to_company_names/AAPL_apple.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-4.0,-2.511748,120.0,120.0,https://www.businessinsider.com.au/netflix-sto...,2019-01-02
1,3.0,0.135719,10.0,10.0,https://www.marketwatch.com/press-release/lett...,2019-01-02
...,...,...,...,...,...,...
29510,7.0,-1.011378,4.0,4.0,https://www.newsweek.com/apples-iphone-hits-sa...,2024-10-15
29515,6.0,-1.290323,10.0,10.0,https://time.com/7093536/surgeons-apple-vision...,2024-10-15

Done!: filter/stocks_to_company_names/AAPL_apple.csv 9336
In Progress!: filter/stocks_to_company_names/CTVA_corteva.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-2.0,1.693405,4.0,4.0,https://www.marketwatch.com/press-release/cort...,2019-02-21
1,7.0,-0.668449,2.0,2.0,https://www.newsweek.com/humane-society-petiti...,2019-03-14
...,...,...,...,...,...,...
62,0.0,1.903553,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-09-30
64,0.0,2.411168,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-10-10

Done!: filter/stocks_to_company_names/CTVA_corteva.csv 29
In Progress!: filter/stocks_to_company_names/XOM_exxon-mobil.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-4.0,-1.404557,65.0,65.0,https://uk.reuters.com/article/uk-usa-court-ex...,2019-01-07
2,0.4,-0.437318,5.0,5.0,https://www.cnbc.com/2018/12/19/reuters-americ...,2019-01-07
...,...,...,...,...,...,...
4700,0.0,2.020202,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-10-10
4701,7.0,0.175439,10.0,16.0,https://www.cbc.ca/news/canada/newfoundland-la...,2024-10-10

Done!: filter/stocks_to_company_names/XOM_exxon-mobil.csv 1170
In Progress!: filter/stocks_to_company_names/JPM_jpmorgan-chase.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,7.4,0.630472,10.0,10.0,https://www.marketwatch.com/press-release/new-...,2019-01-15
6,7.4,1.185262,20.0,20.0,https://www.tickerreport.com/banking-finance/4...,2019-01-23
...,...,...,...,...,...,...
696,0.0,2.837684,5.0,5.0,https://www.tickerreport.com/banking-finance/1...,2024-10-05
697,0.0,2.210884,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-10-12

Done!: filter/stocks_to_company_names/JPM_jpmorgan-chase.csv 262
In Progress!: filter/stocks_to_company_names/DE_deere.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,5.2,-2.932099,4.0,4.0,https://www.washingtonpost.com/business/kubota...,2019-01-22
1,1.9,2.500000,20.0,20.0,http://precision.agwired.com/2019/01/28/develo...,2019-01-28
...,...,...,...,...,...,...
678,0.0,-2.121613,2.0,2.0,https://www.techdirt.com/2024/10/11/john-deere...,2024-10-11
679,0.0,-1.978417,1.0,1.0,https://www.techdirt.com/tag/john-deere-tractors/,2024-10-11

Done!: filter/stocks_to_company_names/DE_deere.csv 189
In Progress!: filter/stocks_to_company_names/COP_conocophillips.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,3.4,-1.287177,10.0,10.0,https://www.marketwatch.com/press-release/cono...,2019-02-15
1,0.0,-1.593283,40.0,40.0,https://www.reuters.com/article/us-conocophill...,2019-03-08
...,...,...,...,...,...,...
342,0.0,2.196532,4.0,4.0,https://www.tickerreport.com/banking-finance/1...,2024-10-03
344,0.0,1.648352,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-10-05

Done!: filter/stocks_to_company_names/COP_conocophillips.csv 108
In Progress!: filter/stocks_to_company_names/MA_mastercard.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,1.582734,6.0,6.0,https://www.vox.com/the-goods/2019/1/7/1817257...,2019-01-08
7,3.4,0.606713,17.0,24.0,https://gulfnews.com/technology/media/no-words...,2019-01-08
...,...,...,...,...,...,...
1517,0.0,-0.910846,20.0,20.0,https://www.cnbc.com/2024/10/01/mastercard-to-...,2024-10-01
1519,0.0,3.456985,20.0,20.0,https://www.tickerreport.com/banking-finance/1...,2024-10-05

Done!: filter/stocks_to_company_names/MA_mastercard.csv 536
In Progress!: filter/stocks_to_company_names/KO_coca-cola.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,5.0,-0.245098,40.0,40.0,https://uk.reuters.com/article/uk-whitbread-m-...,2019-01-03
1,1.9,1.164144,10.0,10.0,https://www.forbes.com/sites/michaelgoldstein/...,2019-01-06
...,...,...,...,...,...,...
2476,7.4,2.039723,70.0,70.0,https://www.tickerreport.com/banking-finance/1...,2024-10-10
2478,0.0,2.245089,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-10-10

Done!: filter/stocks_to_company_names/KO_coca-cola.csv 686
In Progress!: filter/stocks_to_company_names/MSFT_microsoft.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,7.0,0.217391,10.0,10.0,https://www.forbes.com/sites/amitchowdhry/2018...,2018-12-25
1,7.0,1.489682,30.0,30.0,https://www.theverge.com/2019/1/2/18164916/mic...,2019-01-02
...,...,...,...,...,...,...
18913,-2.0,-5.902192,1.0,1.0,https://www.newsweek.com/russia-china-using-cy...,2024-10-15
18917,-2.0,-1.564723,2.0,2.0,https://mashable.com/article/microsoft-ai-chat...,2024-10-15

Done!: filter/stocks_to_company_names/MSFT_microsoft.csv 5727
In Progress!: filter/stocks_to_company_names/DOW_dow-jones.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,10.0,-0.239234,10.0,10.0,https://www.cnbc.com/2019/01/07/top-technician...,2019-01-07
4,-5.0,-2.081165,6.0,6.0,https://www.nytimes.com/2019/01/12/opinion/sun...,2019-01-12
...,...,...,...,...,...,...
1089,7.4,-0.383142,2.0,2.0,https://www.cnbc.com/2024/05/20/cnbc-daily-ope...,2024-05-20
1091,3.4,9.714286,10.0,10.0,https://punchng.com/dowen-college-soars-with-e...,2024-08-30

Done!: filter/stocks_to_company_names/DOW_dow-jones.csv 247
In Progress!: filter/stocks_to_company_names/FCX_freeport-mcmoran.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-5.0,-0.108578,6.0,6.0,https://www.reuters.com/article/us-freeport-mc...,2018-12-25
2,0.0,0.675676,10.0,10.0,http://streetwisereport.com/freeport-mcmoran-n...,2019-07-10
...,...,...,...,...,...,...
132,7.4,2.455869,30.0,30.0,https://www.tickerreport.com/banking-finance/1...,2024-09-24
133,7.4,2.328289,10.0,10.0,https://www.tickerreport.com/banking-finance/1...,2024-09-29

Done!: filter/stocks_to_company_names/FCX_freeport-mcmoran.csv 64
In Progress!: filter/stocks_to_company_names/NVDA_nvidia.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.4,0.520833,10.0,10.0,https://www.theverge.com/2019/1/7/18170951/nvi...,2019-01-07
2,4.0,1.723606,40.0,40.0,https://techreport.com/news/34369/nvidia-expan...,2019-01-08
...,...,...,...,...,...,...
2747,1.0,-0.679348,10.0,10.0,https://www.straitstimes.com/business/companie...,2024-10-15
2750,0.0,1.699626,45.0,46.0,https://www.cnbc.com/2024/10/15/tuesdays-bigge...,2024-10-15

Done!: filter/stocks_to_company_names/NVDA_nvidia.csv 996
In Progress!: filter/stocks_to_company_names/BP_bp.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,0.0,1.383399,10.0,10.0,https://www.tickerreport.com/banking-finance/4...,2019-01-05
1,4.0,0.909091,10.0,10.0,https://uk.reuters.com/article/bp-trinidadtoba...,2019-01-08
...,...,...,...,...,...,...
3700,-2.0,1.323282,16.0,16.0,https://www.telegraph.co.uk/business/2024/10/0...,2024-10-07
3701,6.0,-2.978723,8.0,8.0,https://www.telegraph.co.uk/business/2024/10/0...,2024-10-02

Done!: filter/stocks_to_company_names/BP_bp.csv 924
In Progress!: filter/stocks_to_company_names/PFE_pfizer.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-2.0,2.095423,50.0,50.0,https://in.reuters.com/article/us-usa-healthca...,2019-02-06
2,0.0,2.102228,16.0,16.0,https://www.marketwatch.com/press-release/stro...,2019-02-08
...,...,...,...,...,...,...
17732,0.0,2.213301,20.0,20.0,https://www.tickerreport.com/banking-finance/1...,2024-10-10
17733,-0.1,-0.816309,30.0,30.0,https://www.cnbc.com/2024/10/10/former-pfizer-...,2024-10-10

Done!: filter/stocks_to_company_names/PFE_pfizer.csv 4035
In Progress!: filter/stocks_to_company_names/TMUS_t-mobile.csv

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,GoldsteinScale,AvgTone,NumArticles,NumMentions,SOURCEURL,Date
0,-5.0,-8.895706,5.0,5.0,https://www.washingtonpost.com/local/thieves-c...,2019-01-05
5,0.0,0.717949,10.0,10.0,https://www.washingtonpost.com/technology/2019...,2018-01-08
...,...,...,...,...,...,...
1817,-5.0,-1.405152,10.0,10.0,https://mashable.com/article/hurricane-milton-...,2024-10-09
1819,0.0,0.000000,8.0,8.0,https://www.techdirt.com/2024/10/10/u-s-cellul...,2024-10-10

Done!: filter/stocks_to_company_names/TMUS_t-mobile.csv 642

In [16]:
conn.close()